<div class="container" style="padding-top: 1.5rem">
    <app-base-title ngTranslate="NAV.IMPRINT"></app-base-title>

    <div class="content">
        <p class="block">Ent DE ckung GmbH</p>
        <p class="block">Zwinglistr. 8</p>
        <p class="block">28217 Bremen</p>

        <p class="block" style="margin-top: 5rem">
            {{ 'GENERAL.CEO' | translate }}: Joscha Sattler
        </p>
        <p class="block">{{ 'GENERAL.COURT' | translate }} Bremen</p>

        <p class="block" style="margin-top: 5rem">
            {{ 'GENERAL.PHONE' | translate }} 0151 33399444
        </p>
        <p class="block">
            E-Mail:
            <a href="mailto:joscha.sattler@outlook.de"
                >joscha.sattler@outlook.de</a
            >
        </p>
    </div>
</div>
