<div class="base-container flex center" style="--mt: 1.5rem">
    <mat-card class="mCard">
        <mat-card-title>Login</mat-card-title>

        <mat-form-field appearance="outline" class="mFField">
            <mat-label>email</mat-label>
            <input class="mInput" matInput />
        </mat-form-field>

        <mat-form-field appearance="outline" class="mFField">
            <mat-label>email</mat-label>
            <input class="mInput" matInput />
        </mat-form-field>
    </mat-card>
</div>
