.carousel {
    margin: auto;
    height: min(75vh, 550px);
    width: min(100%, 870px);
}

.details-container {
    margin: auto;
    width: min(100%, 87rem);

    padding-bottom: 3rem;
}

.desc_and_fav {
    display: flex;
    justify-content: space-between;

    margin-top: 3rem;
}

.container {
    margin-top: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
}
