// ------------------------------------------------- || COLORS LIGHT ||

$green-success: #009366;
$green-success-dark: #013f30ff;

$blue-info: #2abde0;

$orange-warn: #e0a45b;

$red-error: #f11f4a;
$red-error-dark: #660f1eff;

//#f11f4a

// Text

$primary_text_light: #14171a;
$secondary_text_light: #657786;

// Hintergründe | Background

$background_light: #f7f7f7;
$card_light: #eeeeee;

// ------------------------------------------------- || COLORS DARK ||

// Text

$primary_text_dark: #e4e6eb;
$secondary_text_dark: #b0b3b8;

// Background | Hintergrund

$background_dark: #181818;
$card_dark: #2a2a2a;
// #242526

// ----------------------------------------------------- || WEITERE ||
