.base-container {
    max-width: min(95%, 100rem);
    padding-inline: 1em;
    margin-inline: auto;
    margin-top: var(--mt, 0);
    margin-bottom: var(--mb, 0);
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.block:not(:last-child) {
    margin-bottom: 1.5rem;
}

.title {
    font-size: 38px;
}

.pointer:hover {
    cursor: pointer;
}

.mCard {
    width: min(32rem, 95vw);
}

// GLOBAL ADJUSTMENTS TO MAT COMPONENTS

[class^='mat-card'] {
    color: var(--primary_text);
    background-color: var(--card_bg);
}
