.base-container {
    max-width: min(95%, 100rem);
    padding-inline: 1em;
    margin-inline: auto;
    margin-top: var(--mt, 0);
    margin-bottom: var(--mb, 0);
}

.block:not(:last-child) {
    margin-bottom: 1.5rem;
}

.title {
    font-size: 38px;
}

.pointer:hover {
    cursor: pointer;
}
