@use "index" as *; //all in one

/* Add some content at the bottom of the video/page */
.content {
    background-image: url('../assets/img/home_bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
