<mat-card class="mw600">
    <mat-card-title class="header">Add Travel Entry</mat-card-title>
    <form (ngSubmit)="form.valid && onSubmit()" [formGroup]="form">
        <div class="title_location flex">
            <!--  TITLE  -->
            <app-base-text-input
                (emit_value)="setTitle($event)"
                [formGroup]="form"
                [required]="true"
                class="flexChild"
                fName="title"
                icon="title"
                title="Title"
            ></app-base-text-input>

            <!--  LOCATION  -->
            <app-base-text-input
                (emit_value)="setLocation($event)"
                [formGroup]="form"
                [required]="true"
                class="flexChild"
                fName="location"
                icon="explore"
                title="Location"
            ></app-base-text-input>
        </div>

        <!--   STATES   -->

        <app-base-select
            (emit_value)="setState($event)"
            [array]="states"
            [formGroup]="form"
            fName="state"
            title="state"
        ></app-base-select>

        <!--  Description  -->

        <app-base-text-area-input
            (emit_value)="setDescription($event)"
            [formGroup]="form"
            [required]="true"
            fName="description"
            title="Description"
        ></app-base-text-area-input>

        <!--  Housing type  -->

        <app-base-text-input
            (emit_value)="setHousingType($event)"
            [formGroup]="form"
            fName="housingType"
            icon="house"
            title="Housing type"
        ></app-base-text-input>

        <!-- COSTS TOTAL -->

        <app-base-number-input
            (emit_value)="setTotalCosts($event)"
            icon="euros"
            title="Total cost"
        ></app-base-number-input>

        <!--  Cost info  -->

        <app-base-text-area-input
            (emit_value)="setCostInfo($event)"
            [formGroup]="form"
            fName="costInfo"
            title="Cost info"
        ></app-base-text-area-input>

        <!--  Other  -->

        <app-base-text-input
            (emit_value)="setOther($event)"
            [formGroup]="form"
            fName="housingType"
            icon="sms"
            title="Other"
        ></app-base-text-input>

        <!-- ---------------------------------------------------------------------------- -->

        <!-- BUTTONS -->

        <mat-card-actions
            style="padding-left: 1rem; padding-top: 0; padding-bottom: 1rem"
        >
            <button
                [disabled]="!form.valid"
                color="accent"
                mat-flat-button
                type="submit"
            >
                save
            </button>
        </mat-card-actions>
    </form>
</mat-card>
