<mat-card class="mw600">
    <mat-card-title class="title">Add Travel Entry</mat-card-title>

    <div class="title_location flex">
        <!--  TITLE  -->
        <app-base-text-input title="Title"></app-base-text-input>

        <!--  LOCATION  -->
        <app-base-text-input title="Location"></app-base-text-input>
    </div>

    <!--  LOCATION  -->

    <app-base-text-area-input title="Description"></app-base-text-area-input>

    <!--  LOCATION  -->

    <app-base-text-input title="Cost description"></app-base-text-input>

    <!--  LOCATION  -->

    <app-base-text-input title="Other"></app-base-text-input>

    <!--  LOCATION  -->

    <app-base-text-input title="Housing"></app-base-text-input>

    <mat-card-actions style="padding: 0.5rem">
        <button color="accent" mat-flat-button>Login</button>
    </mat-card-actions>
</mat-card>
