@use '@angular/material' as mat;
@use 'src/app/scss/index' as *;
@import 'primary-palette.scss';

@include mat.core();

// warn color
$warn: mat.define-palette(mat.$red-palette, A400);
// access color as success color
$success: mat.define-palette(mat.$green-palette);

// Define a light theme
$light-primary: mat.define-palette($primary-blue, 100);

$light-theme: mat.define-light-theme(
    (
        color: (
            primary: $light-primary,
            accent: $success,
            warn: $warn,
        ),
    )
);

// Define a dark theme
$dark-primary: mat.define-palette($primary-blue, 300);

$dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: $dark-primary,
            accent: $success,
            warn: $warn,
        ),
    )
);

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);
@include mat.all-component-colors($dark-theme);

// Apply the light theme only when the `.my-light-theme` CSS class is applied
// to an ancestor element of the components (such as `body`).
.lightTheme {
    @include mat.core-color($light-theme);
    @include mat.button-color($light-theme);
    @include mat.all-component-colors($light-theme);
}

// CUSTOMIZE ANGULAR MATERIAL THEME

// DARK
.mat-app-background {
    background-color: $background_dark;
}

.mat-card {
    background-color: $card_dark;
}

.mat-flat-button {
    background-color: $card_dark;
}

// LIGHT

.lightTheme.mat-app-background {
    background-color: $background_light;
}

.lightTheme .mat-card {
    background-color: $card_light;
}

.lightTheme .mat-flat-button {
    background-color: $card_light;
}

// GENERAL

.mat-form-field-infix {
    width: auto !important;
}
