<mat-card class='mw600'>
  <mat-card-title *ngIf="mode === 'add'" class='header'>
    Add Travel Entry
  </mat-card-title>

  <mat-card-title *ngIf="mode === 'edit'" class='header'>
    Edit Travel Entry
  </mat-card-title>

  <form (ngSubmit)='form.valid && onSubmit()' [formGroup]='form'>
    <!--  TITLE  -->
    <app-base-text-input
      [formGroup]='form'
      [required]='true'
      class='flexChild'
      fName='title'
      icon='title'
      title='Title'
    ></app-base-text-input>

    <div class='container flex'>
      <!--   STATES   -->

      <app-base-select
        [array]='states'
        [formGroup]='form'
        fName='state'
        style='min-width: 15rem'
        title='state'
      ></app-base-select>

      <!--  LOCATION  -->
      <app-base-text-input
        [formGroup]='form'
        [required]='true'
        class='flexChild'
        fName='location'
        icon='explore'
        title='Location'
      ></app-base-text-input>
    </div>

    <!--  Description  -->

    <app-base-text-area-input
      [formGroup]='form'
      [required]='true'
      fName='description'
      title='Description'
    ></app-base-text-area-input>

    <div class='container flex'>

      <!--  HOUSING TYPE  -->
      <app-base-text-input
        [formGroup]='form'
        fName='housing'
        icon='house'
        title='Housing type'
      ></app-base-text-input>

      <!--  TYPE OF TRAVEL  -->
      <app-base-text-input
        [formGroup]='form'
        class='flexChild'
        fName='travelType'
        icon='forest'
        title='Type of travel'
      ></app-base-text-input>
    </div>

    <!-- COSTS TOTAL -->

    <app-base-number-input
      [formGroup]='form'
      fName='costsTotal'
      icon='euros'
      title='Total cost'
    ></app-base-number-input>

    <!--  Cost info  -->

    <app-base-text-area-input
      [formGroup]='form'
      fName='costInfo'
      title='Cost info'
    ></app-base-text-area-input>

    <!--  Other  -->

    <app-base-text-area-input
      [formGroup]='form'
      fName='other'
      title='Other'
    ></app-base-text-area-input>

    <!--  Image Input  -->
    <div *ngIf="mode === 'add'" class='imageUpload'>
      <button
        (click)='fileInput.click()'
        color='primary'
        mat-flat-button
        type='button'
      >
        Choose File
      </button>
      <input
        #fileInput
        (change)='onImagePicked($event)'
        hidden
        id='file'
        multiple='multiple'
        type='file'
      />
    </div>

    <div *ngIf='previews && previews.length' style='padding-top: 1rem'>
      <div class='label'>
        <label> Preview </label>
      </div>

      <div style='display: flex; gap: 1rem; flex-wrap: wrap'>
        <img
          *ngFor='let src of previews'
          [src]='src'
          alt='Preview'
          class='preview'
        />
      </div>
    </div>

    <!-- ---------------------------------------------------------------------------- -->

    <div style='padding: 2rem'>
      <mat-divider></mat-divider>
    </div>

    <!-- BUTTONS -->

    <mat-card-actions
      style='padding-left: 1rem; padding-top: 1rem; padding-bottom: 1rem'
    >
      <button
        [disabled]='!form.valid'
        color='accent'
        mat-flat-button
        type='submit'
      >
        save
      </button>
    </mat-card-actions>
  </form>
</mat-card>
