path {
    &:hover {
        fill: #205759;
        cursor: pointer;
    }
}

.tool {
    white-space: pre-line !important;
    color: #032c58 !important;
    background-color: #ffc000;
    font-size: 25px;
}
