@use '../../../scss/index' as *;

::ng-deep .success {
    color: white;
    background-color: $green-success;
}

::ng-deep .info {
    color: white;
    background-color: $blue-info;
}

::ng-deep .warn {
    color: white;
    background-color: $orange-warn;
}

::ng-deep .error {
    color: white;
    background-color: $red-error;
}

.container {
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}
