::ng-deep .success {
    color: white;
    background-color: #009366;
}

::ng-deep .info {
    color: white;
    background-color: #2abde0;
}

::ng-deep .warn {
    color: white;
    background-color: #e0a45b;
}

::ng-deep .error {
    color: white;
    background-color: #f11f4a;
}

.container {
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}
