@use './src/app/scss/index' as *;

.mCard {
    .img {
        width: 100%;
        height: 40rem;
        object-fit: cover;
        object-position: center center;

        border-radius: 4px;
    }

    .title_and_favorite {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 2rem;
    }
}

.btnActions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    .child {
        flex-grow: 1;
    }

    .edit {
        color: $green-success-dark;
    }

    .delete {
        color: $red-error-dark;
    }
}

.favBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 763px) {
    .mCard {
        max-width: 425px;
    }
}
