<mat-card class="mCard pointer">
    <!-- IMAGE -->
    <img [src]="image" alt="Reisebild" class="img" />

    <!-- TITLE & FAVORITE -->
    <div class="title_and_favorite">
        <mat-card-title> {{ title }}</mat-card-title>
        <mat-icon>favorite</mat-icon>
    </div>

    <mat-card-subtitle style="padding-inline: 0.5rem">
        {{ subtitle }}</mat-card-subtitle
    >

    <mat-card-actions *ngIf="editable" class="btnActions">
        <button
            (click)="editPostEmit()"
            class="child"
            color="accent"
            mat-flat-button
        >
            edit
        </button>

        <button
            (click)="deletePostEmit()"
            class="child"
            color="warn"
            mat-flat-button
        >
            delete
        </button>
    </mat-card-actions>
</mat-card>
