<mat-card class="mw600">
    <mat-card-title class="header">{{
        'REGISTER.REGISTER' | translate
    }}</mat-card-title>

    <form (ngSubmit)="form.valid && onSubmit()" [formGroup]="form">
        <!--  USERNAME  -->
        <app-base-text-input
            [formGroup]="form"
            [required]="true"
            fName="username"
            icon="person"
            title="{{ 'REGISTER.USERNAME' | translate }}"
        ></app-base-text-input>

        <!-- ERROR USERNAME -->
        <app-base-validation-error
            [form]="form"
            fName="username"
            ngxTranslate="ERROR.REQUIRED.USERNAME"
            validator="required"
        ></app-base-validation-error>

        <!--  EMAIL  -->
        <app-base-text-input
            [formGroup]="form"
            [required]="true"
            fName="email"
            icon="email"
            title="Email"
        ></app-base-text-input>

        <!-- ERROR EMAIL -->
        <app-base-validation-error
            [form]="form"
            fName="email"
            ngxTranslate="ERROR.REQUIRED.EMAIL"
            ngxTranslate2="ERROR.EMAIL"
            validator="required"
            validator2="email"
        ></app-base-validation-error>

        <!--  PASSWORD  -->
        <mat-form-field appearance="outline" class="w100">
            <mat-label>{{ 'REGISTER.PASSWORD' | translate }}</mat-label>

            <input
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
                matInput
                required
            />

            <button
                (click)="hide = !hide"
                [attr.aria-pressed]="hide"
                mat-icon-button
                matSuffix
            >
                <mat-icon>
                    {{ hide ? 'visibility_off' : 'visibility' }}
                </mat-icon>
            </button>
        </mat-form-field>

        <!-- ERROR PASSWORD -->
        <app-base-validation-error
            [form]="form"
            fName="password"
            ngxTranslate="ERROR.REQUIRED.PASSWORD"
            ngxTranslate2="ERROR.MINLENGTH.PASSWORD"
            validator="required"
            validator2="minlength"
        ></app-base-validation-error>

        <!-- SUBMIT BUTTON -->
        <mat-card-actions style="padding: 0.5rem">
            <button
                [disabled]="!form.valid"
                color="accent"
                mat-flat-button
                type="submit"
            >
                {{ 'REGISTER.REGISTER' | translate }}
            </button>
        </mat-card-actions>
    </form>
</mat-card>
