<mat-card class="mCard pointer">
    <!-- IMAGE -->

    <img
        alt="natur"
        class="img"
        src="https://images.pexels.com/photos/1761279/pexels-photo-1761279.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />

    <!-- TITLE & FAVORITE -->
    <div class="title_and_favorite">
        <mat-card-title> {{ title }}</mat-card-title>
        <mat-icon>favorite</mat-icon>
    </div>

    <!-- STARS -->
    <div class="stars">
        <mat-icon>grade</mat-icon>
        <mat-icon>grade</mat-icon>
        <mat-icon>grade</mat-icon>
        <mat-icon>grade</mat-icon>
        <mat-icon>grade</mat-icon>
    </div>
</mat-card>
