<mat-toolbar class="w100" color="primary">
    <span class="pointer header" routerLink="/home">Travelnspiration</span>

    <span class="spacer"></span>

    <div class="buttons flex" style="gap: 1rem">
        <!-- LOGIN -->
        <button mat-flat-button routerLink="/login">
            <div class="loginBtn flex">
                <p>login</p>
                <mat-icon>login</mat-icon>
            </div>
        </button>

        <!-- SIGN UP -->
        <button mat-flat-button routerLink="/signup">
            <div class="loginBtn flex">
                <p>Signup</p>
                <mat-icon>person_add</mat-icon>
            </div>
        </button>

        <!-- ADD TRAVEL ENTRY -->
        <button mat-flat-button routerLink="/addTravelEntry">
            <div class="loginBtn flex">
                <p>add travel</p>
                <mat-icon> add_circle</mat-icon>
            </div>
        </button>

        <!-- DARK-MODE -->
        <button (click)="darkmodeToggle()" mat-flat-button>
            <mat-icon>dark_mode</mat-icon>
        </button>
    </div>
</mat-toolbar>
