<mat-toolbar color="primary">
    <span class="pointer" routerLink="/startseite">Travelnspiration</span>

    <span class="spacer"></span>

    <div class="buttons flex" style="gap: 1rem">
        <!-- LOGIN -->
        <button mat-flat-button routerLink="/login">
            <div class="loginBtn flex">
                <p>login</p>
                <mat-icon>login</mat-icon>
            </div>
        </button>

        <!-- DARKMODE -->
        <button (click)="darkmodeToggle()" mat-flat-button>
            <mat-icon>dark_mode</mat-icon>
        </button>
    </div>
</mat-toolbar>
