.spacer {
    flex: 1 1 auto;
}

.loginBtn {
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.buttons {
    display: none;
}

@media screen and (min-width: 700px) {
    .buttons {
        display: flex;
    }
}

::ng-deep .mat-button-wrapper {
    display: flex !important;
    justify-content: center !important;
}
