<mat-toolbar class="w100" color="primary">
    <span class="pointer header" routerLink="/home">Travelnspiration</span>

    <span class="spacer"></span>

    <div class="buttons flex" style="gap: 1rem">
        <!-- LOGIN -->
        <button
            *ngIf="!this.auth.isLoggedIn"
            mat-flat-button
            matTooltip="{{ 'NAV.LOGIN' | translate }}"
            routerLink="/login"
        >
            <div class="loginBtn flex">
                <mat-icon>login</mat-icon>
            </div>
        </button>

        <!-- SIGN UP -->
        <button
            *ngIf="!this.auth.isLoggedIn"
            mat-flat-button
            matTooltip="{{ 'NAV.SIGNUP' | translate }}"
            routerLink="/signup"
        >
            <div class="loginBtn flex">
                <mat-icon>person_add</mat-icon>
            </div>
        </button>

        <!-- ADD TRAVEL ENTRY -->
        <button
            *ngIf="this.auth.isLoggedIn"
            mat-flat-button
            matTooltip="{{ 'NAV.ADD_POST' | translate }}"
            routerLink="/addTravelpost"
        >
            <div class="loginBtn flex">
                <mat-icon>add_circle</mat-icon>
            </div>
        </button>

        <!-- MY TRAVEL POSTS -->
        <button
            *ngIf="this.auth.isLoggedIn"
            [routerLink]="['/myTravelPosts/', auth.me.id]"
            mat-flat-button
            matTooltip="{{ 'NAV.MY_POSTS' | translate }}"
        >
            <div class="loginBtn flex">
                <mat-icon>explore</mat-icon>
            </div>
        </button>

        <!-- MY FAV TRAVEL POSTS -->
        <button
            *ngIf="this.auth.isLoggedIn"
            [routerLink]="['/myFavourites/', auth.me.id]"
            mat-flat-button
            matTooltip="{{ 'NAV.MY_FAVS' | translate }}"
        >
            <div class="loginBtn flex">
                <mat-icon>favorite</mat-icon>
            </div>
        </button>

        <!-- LANGUAGE CHANGE -->
        <button
            (click)="toggleLanguage()"
            mat-flat-button
            matTooltip="{{ 'NAV.LANGUAGE_CHANGE' | translate }}"
        >
            <div
                style="
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                "
            >
                <img
                    *ngIf="de"
                    alt="germany_flag"
                    src="assets/flag/germany.png"
                />

                <img *ngIf="!de" alt="uk_flag" src="assets/flag/uk.png" />
            </div>
        </button>

        <!-- DARK-MODE -->
        <button
            (click)="darkmodeToggle()"
            mat-flat-button
            matTooltip="{{ 'NAV.THEME' | translate }}"
        >
            <mat-icon>dark_mode</mat-icon>
        </button>

        <!-- LOGOUT -->
        <button
            (click)="logout()"
            *ngIf="this.auth.isLoggedIn"
            mat-flat-button
            matTooltip="{{ 'NAV.LOGOUT' | translate }}"
        >
            <div class="loginBtn flex">
                <mat-icon>logout</mat-icon>
            </div>
        </button>
    </div>
</mat-toolbar>
