.grid {
    display: grid;
    gap: 1rem;

    //place-content: center;

    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.filter {
    display: none;
}

@media screen and (min-width: 1072px) {
    .filter {
        display: block;
    }

    .content {
        display: grid;
        gap: 2rem;

        grid-template-columns: 1fr auto;
    }
}
