<div
    class="base-container"
    style="--mt: 1.5rem"
>
    <h1
        class="title"
        style="text-align: center"
    >
        {{ title }} {{ 'STATE.TITLE' | translate }}!
    </h1>
    <p></p>

    <div class="content">
        <div class="grid">
            <app-base-card></app-base-card>
            <app-base-card></app-base-card>
            <app-base-card></app-base-card>
            <app-base-card></app-base-card>
            <app-base-card></app-base-card>
            <app-base-card></app-base-card>
            <app-base-card></app-base-card>
        </div>

        <div class="filter">
            <mat-card>
                <mat-card-title>Filter</mat-card-title>

                <mat-card-actions class="btn-actions">
                    <button
                        mat-flat-button
                        color="primary"
                    >
                        Berge
                    </button>
                    <button
                        mat-flat-button
                        color="primary"
                    >
                        Berge
                    </button>
                    <button
                        mat-flat-button
                        color="primary"
                    >
                        Berge
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
