<div class="base-container" style="--mt: 1.5rem">
    <!-- TITLE -->
    <h1 class="title" style="text-align: center; padding-bottom: 1.5rem">
        {{ title }} {{ 'STATE.TITLE' | translate }}!
    </h1>

    <div class="content">
        <!-- CARDS // TODO: ADD IMAGE FROM DATABASE  -->
        <div class="grid">
            <app-base-card
                *ngFor="let travelPost of travelPosts"
                [image]="baseUrl + travelPost.image"
                [subtitle]="travelPost.location"
                [title]="travelPost.title"
            ></app-base-card>
        </div>

        <!-- FILTER -->
        <div class="filter">
            <app-filter-travel-button></app-filter-travel-button>
        </div>
    </div>
</div>
